.logo_wrapper img {
    max-width: 115px;
    display: block;
    margin: 10px auto;
}
.logo_lg_login img{
	max-width:230px;
}
.font-s-0{
	    font-size: 0;
}
.box-gray{
	background-color: #f4f4f4;
    padding: 0 15px;
}

.box-gray > .pull-right > .btn-primary ,.box-gray > .pull-right h4{
    margin-bottom: 6px;
    margin-top: 6px;
}

.tab-ul {
    padding: 0;
}
.tab-ul > li {
    margin-bottom: 10px;
}

.tab-ul 	> li > input {
    margin-right: 10px;
}
.finish-btn {
	margin: 10px 0;
}
.finish-btn .btn{
	padding: 10px 45px;
}
.attachment_wrapper,#notes,#external_links{
	margin-top:15px;
}
.nav-tabs{
	border-bottom: 1px solid #E5E5E5;
            margin-bottom: 0px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	   

}
.nav-tabs > li > a{
       
}
.nav-tabs > li.active > a i, .nav-tabs > li.active > a:hover i, .nav-tabs > li.active > a:focus i{
	color: #000;
}

#notes >  li ,#external_links > li{
	    list-style-type: none;
    border-bottom: 1px solid #cdd2d2;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

#attachment >  li ,#external_links > li,#notes > li{
	    list-style-type: none;
       border: 1px solid #cdd2d2;
    padding: 10px;
    position: relative;
    overflow: hidden;
    border-left: 3px solid #cdd2d2;
}
#attachment > li:hover, #external_links > li:hover, #notes > li:hover{
    border-color: #646469;
    color: #646469;
}

.my_attachment >  li ,#external_links > li,#notes > li{
      list-style-type: none;
       border: 1px solid #cdd2d2;
    padding: 10px;
    position: relative;
    overflow: hidden;
    border-left: 3px solid #cdd2d2;
}
.my_attachment > li:hover, #external_links > li:hover, #notes > li:hover{
    border-color: #646469;
    color: #646469;
}

.right_side_link_w_icon{
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px !important;
    border-bottom: 2px solid;
}
.right_side_link_w_icon a{
	text-decoration:none;
}

.ui-slider{
    width: 80%;
    display: inline-block;
}
.ui-slider + p{
	    display: inline-block;
    width: 20%;
    text-align: center;
}
.step-pane .tab-content{
       border-left: 1px solid #e5e5e5;
    padding: 10px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.margin-bottom-0{
    margin-bottom: 0 !important;
}
.custom_box_title{
    background-color: #ddd;
    padding: 5px;
}
.fixed_width{
  
  
  word-wrap: break-word;
  white-space: pre-line;
}
.hang_hover{

      
}
 .btn.my_preview_download{
  padding: 12px 30px;
    font-size: 16px;    
    background-color: #F10000;
}

.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
.my_preview_download i{
       width: 18px;
    display: inline-block;
    font-size: 20px;
}

#my_preview_form .modal-content{
    background-image: url(../images/no-preview-available.png);
    background-size: 165px;
    background-repeat: no-repeat;
    background-position: center center;
}
.margin-b-10{
  margin-bottom: 10px;
}

.media {
  margin-top: 15px;
}
.media:first-child {
  margin-top: 0;
}
.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}
.media-body {
  width: 10000px;
}
.media-object {
  display: block;
}
.media-object.img-thumbnail {
  max-width: none;
}
.media-right,
.media > .pull-right {
  padding-left: 10px;
}
.media-left,
.media > .pull-left {
  padding-right: 10px;
}
.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}
.media-middle {
  vertical-align: middle;
}
.media-bottom {
  vertical-align: bottom;
}
.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.media-list {
  padding-left: 0;
  list-style: none;
}
.media-left img {
       max-width: 100px;
    height: 100px;
   
    border: 2px solid #ccc;
    border-radius: 5px;
}
.media_list {
    margin: 15px 0;
}
.media_list > div.media {
     background-color: #EFEFEF;
    padding: 10px 0 10px 5px;
    border-bottom: 2px solid #E2E2E2;
}
.media-right > a {
    display: inline-block;
    padding: 5px 15px;
    font-size: 19px;
}
.media-right > a:hover{
	text-decoration: none;
	cursor: pointer;
	
	
}
.white-space-no table td{
	   white-space: inherit;
}

.responsive-table table > tbody > tr > td:last-child a{
	    margin-bottom: 5px;
    display: inline-block;
    
}

.padding-l-0{
  padding-left: 0;
}
.input-sub {
    margin-bottom: 0;
    padding-top: 5px;
}
.border-left{
  position: relative;
}
.border-left::after {
    border-left: 1px solid #ddd;
    content: "";
    height: 100%;
    left: -50px;
    position: absolute;
    top: 0;
    width: 1px;
}
.border-right{
  position: relative;
}
.border-right::after {
    border-right: 1px solid #ddd;
    content: "";
    height: 100%;
    right: 50px;
    top: 10px;
    position: absolute;
  
    width: 1px;
}
.control-label.check-box-margin {
    margin-left: 15px;
    margin-top: 10px;
}
.check-list-number {
    background-color: #49bf67;
    border: 2px solid #49bf67;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    height: 20px;
    line-height: 16px;
    text-align: center;
    width: 20px;
}
.check-list .control-label {
    margin-bottom: 15px;
    margin-left: 10px;
}
.spinner7 {
    height: 30px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 90px;
}
#fakeLoader{
  background-color:rgba(0,0,0,0.5) !important;
}
.complete-level-ul{

}
.complete-level .complete-level-ul li {
    display: inline-block;
    width: 18%;
}
.complete-level .complete-level-ul li span{
  display: block;
}
.complete-level .complete-level-ul li span{
  
  height: 20px;
  width: 100%;
  text-align: center;
  font-size: 15px;
}
.complete-level .complete-level-ul li span:first-child{
  border: 1px solid #ddd;
}
.complete-level .complete-level-ul li.active span:first-child{
  background-color: #73ad21;
}
.complete-level .complete-level-ul li.active span{
  font-weight: bold;
}
.complete-level .complete-level-ul ul {
    padding: 0;
}
.inline-block.complete-level-ul {
    display: inline-block;
      vertical-align: top;
    width: 85%;
}
.complete-level-action{ 
      width: 10%;
      display: inline-block;
      vertical-align: top;
    }
.complete-level-action h1{
  margin: 0;
}


    .color_red{
        color:red;
    }
    .color_grey,.gray-bg{
        background-color: #888;
        color:#fff;
        padding:10px;
        font-weight: bold;
    }
    .hr-normal{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    .margin-bottom-10{
      margin-bottom: 10px;
    }
.complete-level:after {
    /*content: " ";
    position: absolute;
    bottom: -6px;
    box-shadow: inset 0 7px 9px -7px rgba(169, 169, 169, 0.7);
    width: 100%;
    height: 8px;
    left: 0;
    z-index: 2; */
}
.complete-level {
    position: relative;
}
.box-main-scroll {
    /*max-height: 500px;
    overflow: auto; */
    padding-top: 20px;
 
    
    
}
.label-left .control-label{
  text-align: left;
}
.mar-b-20{
  margin-bottom: 20px;
}
.details_main{
  margin-bottom: 10px;
}
.part-five-block {
    border: 1px solid #ddd;
    padding: 15px;
}
.part-five-top-margin{
    margin-top: 65px;
}

.chat ul > li .name-and-time{
  margin-left: 70px;
}

.avatar > img {
    width: 100%;
}
.chat ul > li .avatar {
    height: 60px;
    left: 10px;
    margin-right: 10px;
    position: absolute;
    top: 10px;
    width: 60px;
}
.commnet-wrapper.item-b > div:nth-child(2n+1){
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 0;
    margin: 10px 0;
    padding-bottom: 10px;
}
.chat ul > li .avatar {
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 50px;
  left: 10px;
  margin-right: 10px;
  padding: 5px;
  position: absolute;
  top: 10px;
  width: 60px;
}

.progressBlockOuter{ overflow:auto;}
.progressBlock h3{ background:yellow; padding:10px; margin:0; line-height:100%; font-size: 18px; color:#000; }
.inner-white-bg{ background:#fff; borde:1px solid #eee; padding:15px;}
.processBar{ width:100%; display:block; vertical-align:top;  }
.processBar p{ color:#000; font-size:14px; line-height:100%; padding:0 0 5px; margin:0;     }


@media(max-width: 767px){
  .border-left::after {
    border-left: none;
  }

#notes_desc p {
    word-wrap: break-word;
}



.chat ul.commnet-list  > li .avatar {
	float: left;
    height: 83px;
    left: auto;
    margin-right: 10px;
    position: inherit;
    top: auto;
    width: 83px
}
.chat ul.commnet-list  > li .avatar img{
	border-radius:50%;
	border:2px solid #ddd;
	height:83px;
	width:83px;
}
.commnet-wrapper {
    margin-left: 15px;
	margin-top: 25px;
}
.chat ul.commnet-list  > li:nth-child(odd) {
}
.chat ul.commnet-list  > li:nth-child(even) {
          background-color: #F3F3F3;
}
.chat ul.commnet-list  > li {
    border-bottom: 1px solid #dddddd;
    padding: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}
.chat ul.commnet-list form input[type="text"]{
	padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
}
.chat ul.commnet-list .form-group{
 margin-bottom: 15px;
    margin-top: 15px;
	}
.chat ul.commnet-list form button{
	 top: 15px;
}
.commnet-wrapper > .message small > a h4 {
    color: #565656;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 2px;
}
.commnet-wrapper .message {
    margin-bottom: 15px;

}
p.notes {
    word-wrap: break-word;
} 
.part-five-top-margin{
  margin-top: 15px;
}
}
/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-16px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-16px); }
  60% {
    -moz-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-16px);
    -moz-transform: translateY(-16px);
    -ms-transform: translateY(-16px);
    -o-transform: translateY(-16px);
    transform: translateY(-16px); }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); } }


	
